<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon(1).ico" type="image/x-icon">
    <title>Поиск по категории</title>
    <style>
        input,h4,td:first-letter{
            text-transform: capitalize;
        }
        li{
            display: inline-block;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs">
    <a style="margin-left: 25px" class="navbar-brand" href="#">Строительный магазин</a>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../categories">Назад</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Категории</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Товары</a>
    </li>
    <div th:if="${type} == 'admin'">
        <li class="nav-item">
            <a class="nav-link disabled" href="users">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="admin" style="color: firebrick">Окно админа</a>
        </li>
    </div>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Информация о пользователе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" href="#">Сменить аккаунт</a>
    </li>
</ul>
<div style="margin: 40px 40px 0 40px;">
    <h2>Поиск товаров по категории:</h2><h4 style="color: #084298" th:text="${category}"></h4>
    <table class="table table-hover">
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
            <th></th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.getProductName()}"></td>
                <td><p style="display: inline" th:text="${product.getProductPrice()}"></p><p style="display: inline">&#160;рублей</p></td>
                <div th:if="${product.getProductVolume()} > '0'">
                    <td th:text="${product.getProductVolume()}"></td>
                </div>
                <div th:if="${product.getProductVolume()} <= '0'">
                    <td>Товара нет в наличии</td>
                </div>
                <td>
                    <form name="Добавить в корзину" method="post" action="/products">
                        <label>
                            <input type="hidden" name="action" value="add_to_basket"/>
                        </label>
                        <label>
                            <input type="hidden" name="productName" th:value="${product.getProductName()}"/>
                        </label>
                        <div style="display: inline-block" th:if="${product.getProductVolume()} > '0'">
                            <label>
                                <input type="number" name="volume" min="1" th:max="${product.getProductVolume()}"/>
                            </label>
                            <button type="submit">Добавить в корзину</button>
                        </div>
                        <div th:if="${product.getProductVolume()} <= '0'"></div>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<div style="margin-top: 60px">&#160;</div>
<footer class="footer mt-auto py-3 bg-light" style="position: fixed; z-index: 101; left: 0; bottom: 0; width: 100%; height: 80px;">
    <div class="container">
        <span class="text-muted">Работу по созданию web-приложения на тему "Строительный магазин" выполнил студент группы ИКБО-01-19 Туманов Н.А.</span>
    </div>
</footer>
</body>
</html>