<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon(1).ico" type="image/x-icon">
    <title>Окно админа</title>
</head>
<body>
<ul class="nav nav-tabs">
    <a style="margin-left: 25px" class="navbar-brand" href="#">Строительный магазин</a>
    <li class="nav-item">
        <a class="nav-link" href="categories">Категории</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="products">Товары</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="users">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#" style="color: firebrick">Окно админа</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="basket">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="myinfo">Информация о пользователе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="login">Сменить аккаунт</a>
    </li>
</ul>

<div style="margin: 40px 40px 0 40px;">
    <a style="font-size: 20px" href="products">Товары</a>
    <a style="font-size: 20px" href="categories">Категории</a>
    <a style="font-size: 20px" href="users">Пользователи</a>
    <h2 style="margin-top: 20px">Добавить категорию:</h2>
    <form name="Добавить категорию" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Название категории"/>
        </label>
        <label>
            <input type="hidden" name="action" value="add"/>
        </label>
        <button type="submit">Add</button>
    </form>
    <h2 style="margin-top: 20px">Удалить категорию:</h2>
    <form name="Удалить категорию" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Название категории"/>
        </label>
        <label>
            <input type="hidden" name="action" value="delete"/>
        </label>
        <button type="submit">Delete</button>
    </form>
    <h2 style="margin-top: 20px">Добавить товар:</h2>
    <form name="Добавить товар" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Название товара"/>
        </label>
        <label>
            <input type="text" name="volume"
                   placeholder="Количество товара"/>
        </label>
        <label>
            <input type="text" name="price"
                   placeholder="Стоимость товара"/>
        </label>
        <label>
            <input type="text" name="category"
                   placeholder="Категория товара"/>
        </label>
        <label>
            <input type="hidden" name="action" value="add_product"/>
        </label>
        <button type="submit">Add</button>
    </form>
    <h2 style="margin-top: 20px">Удалить товар:</h2>
    <form name="Удалить товар" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Название товара"/>
        </label>
        <label>
            <input type="hidden" name="action" value="delete_product"/>
        </label>
        <button type="submit">Delete</button>
    </form>
    <h2 style="margin-top: 20px"><a href="sign">Создать аккаунт</a></h2>
    <h2 style="margin-top: 20px">Удалить пользователя:</h2>
    <form name="Удалить пользователя" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Имя пользователя"/>
        </label>
        <label>
            <input type="hidden" name="action" value="delete_user"/>
        </label>
        <button type="submit">Delete</button>
    </form>
    <h2 style="margin-top: 20px">Сменить тип пользователя:</h2>
    <form name="Сменить тип пользователя" method="post" action="/admin">
        <label>
            <input type="text" name="name"
                   placeholder="Имя пользователя"/>
        </label>
        <button type="submit">Change</button>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="gridRadios1" value="user" checked>
                <label class="form-check-label" for="gridRadios1">
                    User
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="gridRadios2" value="admin">
                <label class="form-check-label" for="gridRadios2">
                    Admin
                </label>
            </div>
        </div>
        <label>
            <input type="hidden" name="action" value="change_type"/>
        </label>
    </form>
</div>
<div style="margin-top: 60px">&#160;</div>
<footer class="footer mt-auto py-3 bg-light" style="position: fixed; z-index: 101; left: 0; bottom: 0; width: 100%; height: 80px;">
    <div class="container">
        <span class="text-muted">Работу по созданию web-приложения на тему "Строительный магазин" выполнил студент группы ИКБО-01-19 Туманов Н.А.</span>
    </div>
</footer>
</body>
</html>