<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form name="signUpUser" method="post" action="/signUperror">

    <label for="usernameInput">Username</label>
    <input class="form-control"
           id="usernameInput"
           name="username" type="text" placeholder="username">
    <div th:if="${Status} == 'user_exists'">
        Пользователь с таким именем уже существует
    </div>

    <label for="passwordInput">Password</label>
    <input class="form-control"
           id="passwordInput"
           name="password" type="password"
           placeholder="password">
    <label for="matchingPasswordInput">Confirm
        password</label>
    <input class="form-control"
           id="matchingPasswordInput"
           name="password2" type="password"
           placeholder="password">
    <div th:if="${Status} == 'pass1!=pass2'">
        неправильный пароль подтверждения
    </div>

    <button type="submit">Sign up</button>
</form>

</body>
</html>