<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon(1).ico" type="image/x-icon">
    <title>Пользователи</title>
</head>
<body>
<ul class="nav nav-tabs">
    <a style="margin-left: 25px" class="navbar-brand" href="#">Строительный магазин</a>
    <li class="nav-item">
        <a class="nav-link active" href="categories">Все категории</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="products">Все товары</a>
    </li>
    <div th:if="${type} == 'admin'">
        <li class="nav-item">
            <a class="nav-link" href="admin">Окно админа</a>
        </li>
    </div>
    <li class="nav-item">
        <a class="nav-link" href="basket">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="myinfo">Информация о пользователе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="login">Сменить аккаунт</a>
    </li>
</ul>

<div style="margin: 40px 40px 0 40px;">
    <h2>Пользователи</h2>
    <table class="table table-hover">
        <tr>
            <th>Имя</th>
            <th>Почта</th>
            <th>Права</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getType()}"></td>
            </tr>
        </th:block>
    </table>
</div>
<div style="margin-top: 60px">&#160;</div>
<footer class="footer mt-auto py-3 bg-light" style="position: fixed; z-index: 101; left: 0; bottom: 0; width: 100%; height: 80px;">
    <div class="container">
        <span class="text-muted">Работу по созданию web-приложения на тему "Строительный магазин" выполнил студент группы ИКБО-01-19 Туманов Н.А.</span>
    </div>
</footer>
</body>
</html>